@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes flicker {
    0%{opacity: 0}
    15%{opacity: 1;}
    25%{opacity: 0;}
    30%{opacity: 1}
    50%{opacity: 0;}
    70%{opacity: 1;}
}


@keyframes slide {
    from{transform: translate(700px,0px);}
    to{transform: translate(0,0);}
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-image: url("/img/main/vr-headset-and-controllers-backlit-by-blue-light.jpg");
    background-color:#00123a;
    background-size: 100%;
    background-origin: border-box;
    /* background-position: 0 0; */
    background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
    animation-name: fade;
    animation-duration: 2s;
}

/* NAV */
nav{
    z-index: 1;
    position: sticky;
    right: 0;
    top: 10px;
    padding: 0 20px;
}
nav .menu a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    padding: 6px 15px;
    transition-duration: 0.4s;
}
nav .menu a:hover{
    background-color: white;
    color: blue;
}
nav img{
    width: 300px;
}
.menu{
    float: right;
}

/* CONTENT */
.content{
    margin: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    color: white;
    align-items:center;
    text-align: center;
}
.content h1, .content p{
    width: 60%;
    margin: 10px;
}

.content p{
    line-height: 1.2em;
}

/* PRODUCTS */
.products{
    margin: 43% 0 0 0;
    padding: 60px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(26.6, 18, 1.6,0.3);
    width: 100%;
}

@keyframes glow{
    0%{box-shadow: 0 0 10px blue}
    50%{box-shadow: 0 0 30px blue}
    100%{box-shadow: 0 0 10px blue}
}


.phone, .computer{
    border: 2px solid white;

}
.phone:hover, .computer:hover{
    border: 2px solid blue;
    animation: glow 2s infinite;
    transition-duration: 0.2s;
    transform: scale(1.03);
}
.phone:hover  #phone_text,.computer:hover #computer_text{
    background-color: blue;
    color: white;
}
.computer a, .phone a{
    text-decoration: none;
    color: white;
}

.products img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.products h3{
    background-color: white;
    /* color: blue; */
    margin:0;
    padding:10px;
    font-size: 2em;
    text-shadow: 1px 1px 3px #0452fc;
}

/* Button */

.content button{
    width: 20%;
    margin-top: 30px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    background-color: white;
    color: rgb(22, 5, 205);
    border: none;
    transition-duration: .5s;
}
.content button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* FOOTER */
.footer{
    position: fixed;
    bottom: 5%;
    color:white;
    text-align: center;
}